@use "../module/variable"as var;

.front{
    margin-top: 64px;
    &__fv{
        width: 100vw;
        img{
            width: 100%;
            height: auto;
        }
    }
    &__bnrs{
        &--wrapper{

        }
        li{
           margin: 0 10px; 
        }
    }
    //spサイズ
    @media only screen and (max-width: var.$bp) {
        margin-top: 60px;

    }
}

