@use "./module/variable"as var;



.front {
    &__fv {
        position: absolute;
        top: 0;
        right: 0;
        width: 100vw;
        height: 800px;
    }

    &__fvbottom {
        background: url('./assets/images/topImg.jpg') no-repeat 0 0;
        background-size: 100% auto;
        width: 100vw;
        height: 72vw;
        position: relative;
    }

    &__ttl {
        position: absolute;
        text-align: center;
        width: 100vw;
        margin: 0;
        padding-top: 160px;

        span {
            max-width: 500px !important;
            width: 60vw;
            display: inline-block;


        }

        img {
            width: 100%;
        }
    }

    &__bnrs {

        &--wrapper {
            margin: 20px 0;
            position: relative;
            overflow: hidden;
        }
    }

    &__news {
        padding: 100px 0;

        &--inner {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        &--img {
            min-width: 120px;
            max-width: 120px;
            margin: 0 20px 0 0;

            img {
                object-fit: cover;
                height: 120px;
                width: 120px;
                border-radius: 3px;
            }
        }

        &--link {
            margin: 0 0 26px;
            display: flex;
            text-decoration: none;
            color: #444;
        }

        &--ttl {
            margin: 10px 0 0;
            line-height: 1.4;
            font-size: 18px;
        }

        &--lists {
            li {
                margin: 0 0 26px;

                img {
                    width: 100%;
                }
            }
        }

        &--exerpt {
            margin: 0;
            font-size: 12px;
        }

        &--cates {
            margin: 0 10px 0 0;
            display: flex;
            align-items: center;
            span {
                font-size: 12px;
                padding: 3px 10px;
                line-height: 0.9;
                display: inline-block;
                margin: 0 5px 0 0;
                @media only screen and (max-width: var.$bp) {
                    font-size: 10px;
                    padding: 2px 5px;
                  }
                &.cate-news {
                    border: solid 1px var.$pink;
                    color: var.$pink;
                    
                }

                &.cate-media {
                    border: solid 1px var.$perpul;
                    color: var.$perpul;
                }

                &.cate-topic {
                    border: solid 1px var.$blue;
                    color: var.$blue;
                }
            }
        }

        &--cateblc {
            display: flex;
            align-items: center;
            margin: 0 0;

            p {
                margin: 0;
            }

            &-date {
                display: inline-block;
                margin: 0 10px 0 0;
                font-size: 14px;
                letter-spacing: 0.2em;
            }
        }

        @media only screen and (max-width: var.$bp) {
            padding: 10vw 5%;
            
        }

    }

    &__schedule {
        padding: 100px 0;

        &--inner {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        &--img {
            min-width: 120px;
            max-width: 120px;
            margin: 0 20px 0 0;
            overflow: hidden;

            img {
                object-fit: cover;
                height: 120px;
                width: 120px;
                border-radius: 3px;
            }
        }

        &--link {
            margin: 0 0 20px;
            display: flex;
            text-decoration: none;
            color: #444;
        }

        &--ttl {
            margin: 10px 0 0;
            line-height: 1.4;
            font-size: 18px;
        }

        &--lists {

            li {
                margin-bottom: 20px;

                img {
                    width: 100%;
                }
            }
        }

        &--list {
            margin: 0 0 20px;
        }

        &--exerpt {
            margin: 0;
            font-size: 12px;
        }

        &--cates {
            margin: 0 10px 0 0;

            span {
                font-size: 14px;
                padding: 3px 10px;
                line-height: 0.9;

                display: inline-block;
                margin: 0 5px 0 0;

                &.cate-news {
                    border: solid 1px var.$pink;
                    color: var.$pink;
                }

                &.cate-media {
                    border: solid 1px var.$perpul;
                    color: var.$perpul;
                }
            }
        }

        &--cateblc {
            display: flex;
            align-items: center;
            margin: 0 0 6px;

            p {
                margin: 0;
            }

            &-date {
                display: inline-block;
                margin: 0 10px 0 0;
                font-size: 18px;
                letter-spacing: 0.2em;
            }
        }

        @media only screen and (max-width: var.$bp) {
            padding: 10vw 5%;

            &--inner {
                width: 100%;
                max-width: 100vw;
            }

            &--img {
                min-width: 16vw;
                margin: 0 3vw 0 0;

                img {
                    height: 16vw;
                    width: 16vw;
                }
            }

            &--link {
                margin: 0 0 20px;
            }

            &--ttl {
                margin: 6px 0 0;
                font-size: 16px;
            }

            &--lists {
                li {
                    margin: 0 0 30px;
                }
            }

            &--exerpt {
                margin: 0;
                font-size: 10px;
            }

            &--cates {
                margin: 0 10px 0 0;

                span {
                    font-size: 12px;
                    padding: 3px 10px;
                }
            }

            &--cateblc {
                display: flex;
                align-items: center;
                margin: 0 0;

                &-date {
                    display: inline-block;
                    margin: 0 10px 0 0;
                    font-size: 14px;
                    letter-spacing: 0.2em;
                }
            }



        }

    }

    //spサイズ
    @media only screen and (max-width: var.$bp) {
        &__ttl {
            padding-top: 6vw;
        }

        &__bnrs {
            &--wrapper {
                margin: 20px 0;
            }
        }

        &__fvbottom {
            background-size: 100% auto;
            width: 100vw;
            height: 72vw;
            position: relative;
            margin-top: 0px;

        }

        &__news {
            padding: 10vw 5%;

            &--inner {
                width: 100%;
                max-width: 100vw;
            }

            &--img {
                min-width: 80px;
                margin: 0 16px 0 0;
                img {
                    height: 80px;
                    width: 80px;
                }
                @media only screen and (max-width: var.$bp) {
                    min-width: 16vw;
                    margin: 0 3vw 0 0;
    
                    img {
                        height: 16vw;
                        width: 16vw;
                    }
                
                }
            }

            &--link {
                margin: 0 0 5vw;
            }

            &--ttl {
                margin: 6px 0 0;
                font-size: 16px;
            }

            &--lists {
                li {
                    margin: 0 0 5vw;
                }
            }

            &--exerpt {
                margin: 0;
                font-size: 10px;
            }

            &--cates {
                margin: 0 10px 0 0;

                span {
                    font-size: 12px;
                    padding: 3px 10px;
                }
            }

            &--cateblc {
                display: flex;
                align-items: center;
                margin: 0;

                &-date {
                    display: inline-block;
                    margin: 0 10px 0 0;
                    font-size: 14px;
                    letter-spacing: 0.2em;
                }
            }

            @media only screen and (max-width: var.$bp) {
                padding: 10vw 5%;
            }

        }
    }

    &__youtube {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 100px 0;

        &--blc {
            position: relative;
            width: 100%;
            padding-top: 56.25%;

            iframe {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
        }

        &--blclist {
            margin: 0;
            overflow: hidden;

            li {
                list-style-type: none;
                width: 49%;
                float: left;
                margin: 0 0 40px;

                &:nth-child(even) {
                    float: right;
                }

                &.one {
                    display: block;
                    width: 100%;
                }
            }

        }

        @media only screen and (max-width: var.$bp) {
            padding: 10vw 5%;

            &--blclist {
                li {
                    width: 100%;
                    float: left;
                    display: block;
                    margin: 0 0 5vw;

                    &:nth-child(even) {
                        display: block;
                    }
                }

            }
        }

    }


    &__twitter {
        width: 100vw;
        padding: 100px 0;

        &--inner {
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
        }

        &--wrapper {
            background: #FFF;
            margin: 0 auto;
            padding: 40px 20px;
            border-radius: 10px;
            border: solid 1px var.$pink;
        }

        &--blc {
            margin: 0 auto;
            max-width: 500px;
            width: 80vw;
            max-height: 700px;
            overflow-y: scroll;
        }

        .main__link--wrapper {
            width: 500px;
            margin: 20px auto 0;
        }

        @media only screen and (max-width: var.$bp) {
            padding: 10vw 5%;

            &--wrapper {

                padding: 30px 10px;

            }

            &--blc {
                margin: 0 auto;
                max-width: 100%;
                width: 80vw;
                max-height: 400px;

            }

            .main__link--wrapper {
                width: 100%;
                margin: 30px auto 0;
                padding-right: 10px;
            }
        }
    }
}

.timeline-Header-title {
    font-size: 12px !important;
    display: none;
}

.particles-js-canvas-el {
    top: 0;
}

//追記
#front {

    .topSwiper {

        .swiper-container,
        .swiper-slide {
            height: 100dvh;
            height: 100vh;
        }


        .swiper-slide {
            background-color: #FFF;
            width: 100%;
            max-height: 100dvh;
            max-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
            img, picture{
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
        @media only screen and (max-width: var.$bp) {
            .swiper-container,
            .swiper-slide {
                height: auto;
                height: auto;
            }
    
            .swiper-button-prev, .swiper-button-next{
                display: none;
            }
            .swiper-slide {
                background-color: #FFF;
                width: 100%;
                max-height: auto;
                max-height: auto;
                display: flex;
                align-items: center;
                justify-content: center;

            }
    
        }
    }
}



.front{
    &__topics{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 56px;
        @media only screen and (max-width: var.$bp) {
            display: block;
        }
    }
    &__topics--blc{
        display: block;
        text-decoration: none;
        border: solid 1px #ccc;
        padding: 16px 16px 10px;
        min-width: 32%;
        max-width: 32%;
        @media only screen and (max-width: var.$bp) {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            margin-bottom: 2vw;
        }
    }
    &__topics--badge{
        color: #FFF;
        background-color: var.$blue;
        display: inline-block;
        white-space: nowrap;
        font-size: 12px;
        line-height: 100%;
        padding: 3px 5px;
        margin-bottom: 0;
        margin-right: 8px;
        @media only screen and (max-width: var.$bp) {
            font-size: 10px;
        }

    }
    &__topics--txtblc{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        @media only screen and (max-width: var.$bp) {
            margin-bottom: 8px;
        }
    }
    &__topics--date{
        font-size: 14px;
        line-height: 100%;
        margin-bottom: 0;
        color: #444;
        @media only screen and (max-width: var.$bp) {
            font-size: 12px;
        }
    }
    &__topics--heading{
        color: #444;
        font-size: 16px;
        line-height: 1.4;
        @media only screen and (max-width: var.$bp) {
            font-size: 14px;
        }
    }

}