@use "../module/variable"as var;


.l-menu {
  &__sns {
    .u-sns{
      a{
        margin-right: 20px;
        margin-bottom: 20px;
      }
    }
    
      max-width: 260px;
      margin-top: 1.8em;

  }

}