$basic: #444444;
$pink: #fcb9ce;
$bp: 768px;
$pcbp: 1080px;
$perpul: #b38fe2;
$pinkbold: #E2759B;;
/* ANIMATION*/
@keyframes fadeInAnime{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

//フェードイ
.fadein {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-timing-function:ease;
    animation-delay: 0.5s;
    animation-direction:normal;
}
    


.eigo{
    font-family: 'Poppins', sans-serif;
}